# The Management REST API contract.
#
# This file is the source of truth (ADR-013). Go server interfaces, the
# console's TypeScript client, and the public API reference are all generated
# from it, so a handler whose signature no longer matches this file fails to
# compile rather than failing in production.
#
# Governing document: docs/PLAN/05-API-CONTRACT.md. Where the two disagree, docs/PLAN/05
# is right and this file is a bug.
#
# On what is NOT here: this spec describes only endpoints that exist. The
# endpoint structure in docs/PLAN/05 Part B lists the full v1 surface, and it is
# tempting to write it all out now as a design exercise. It is not written out,
# because /docs/api-reference renders from this file, and an endpoint in the
# public reference is a claim that the endpoint exists. Documenting the whole
# roadmap here would put that claim on the public site for every unbuilt
# endpoint at once (docs/UI-UX/21 § governance, CLAUDE.md).
#
# The component schemas below are different in kind. They are contract
# infrastructure — the shapes every future endpoint will reuse — and settling
# them now is the point of P0-16. An error format that changes after twenty
# endpoints exist is a breaking change to all twenty.

# 3.0.3 rather than 3.1, deliberately (ADR-013).
#
# oapi-codegen prints "OpenAPI 3.1.x is not yet supported ... some
# functionality may not be available" and generates anyway. Generating anyway
# is the problem: the entire value of spec-first here is that the generated
# interface is trustworthy enough to be the enforcement mechanism, and a
# generator that has told you it may be silently incomplete cannot be that.
#
# Nothing in this contract needs 3.1. Revisit when oapi-codegen supports it
# (BACKLOG SL-03).
openapi: 3.0.3

info:
  title: Zed Auth — Management API
  version: 0.1.0
  description: |
    The Management REST API for the Zed Auth service.

    **Every capability in the management console is available here.** The
    console is a client of this API and has no privileged path around it
    (`docs/PLAN/02` FR-14). If the console can do something this API cannot, that is
    a defect.

    ## Current status

    Phase 0. The service runs, and the endpoints below are the ones that exist:
    operational probes only. The identity and authorization endpoints arrive in
    Phase 1 and are deliberately absent from this document until they are real.

    ## Versioning

    Management endpoints are prefixed `/v1`. Breaking changes go to `/v2` with a
    published deprecation window for `/v1` (`docs/PLAN/05` Part B). The operational
    probes are unversioned: they describe the process, not the API.

    ## Authentication

    Management endpoints require an OAuth 2.0 Bearer access token, including
    the Client Credentials grant for service accounts. Authorization is
    enforced server-side on every request without exception — the console
    hiding a control is a user-experience decision, never a security one
    (`docs/PLAN/08`).
  contact:
    name: Responsible disclosure
    email: security@zedth.my.id
  license:
    # 3.0 has no `identifier` field, so the SPDX form used at 3.1 is not
    # available here. The name alone is unambiguous enough for its purpose: a
    # spec published with no licence field at all says nothing about reuse
    # rights, and "nothing" gets read as "probably fine" by whoever finds it.
    name: Proprietary — all rights reserved

servers:
  - url: https://auth.zedth.my.id
    description: Staging. Not production; do not integrate against it expecting stability.

tags:
  - name: Discovery
    description: |
      The two documents a consumer application configures itself from.
      Unauthenticated by design and safe to cache — that is the point of them.

      Both are **derived from what this deployment actually serves**, never
      hand-maintained. An endpoint named here exists; one that does not exist
      is absent rather than present-and-broken, because a client that
      configures successfully and then fails at its first login has been
      misled by us (`P1-04`).

  - name: Operations
    description: |
      Process-level probes. Unauthenticated by design, and deliberately
      uninformative: they answer whether the process can serve traffic and
      nothing else. A probe that reports which dependency is unhealthy is a
      reconnaissance endpoint (`docs/SECURITY/02` §12).

paths:
  /.well-known/openid-configuration:
    get:
      tags: [Discovery]
      operationId: getOpenIDConfiguration
      summary: OpenID Provider configuration
      description: |
        The discovery document, per OpenID Connect Discovery 1.0. Point a
        conforming client library at this URL instead of copying endpoint
        values into its configuration by hand.

        **It lists only what is implemented.** The authorization and token
        endpoints arrive in later phases and are absent until they exist —
        the document is rendered from the service's registered capabilities,
        so it cannot advertise an endpoint that would return 404.

        `code_challenge_methods_supported` will contain `S256` and never
        `plain`: `plain` transmits the PKCE verifier unprotected, which
        removes the reason PKCE exists.
      security: []
      responses:
        "200":
          description: The provider's configuration.
          headers:
            Cache-Control:
              description: |
                Cacheable for an hour. The document changes when endpoints are
                added or removed, which is a deploy rather than a routine
                event.
              schema: { type: string }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OpenIDConfiguration"

  /.well-known/jwks.json:
    get:
      tags: [Discovery]
      operationId: getJWKS
      summary: JSON Web Key Set
      description: |
        The public keys token signatures are verified against. Public halves
        only — no private parameter ever appears here, which is asserted by a
        test that inspects the JSON rather than trusting the serialiser.

        Every key that can still verify a token is published, including one
        that has stopped signing. That overlap is what lets a key rotate
        without invalidating tokens issued moments before it
        (`docs/PLAN/09` § Tokens & Keys).

        Verification is local: fetch this once, cache it, and validating a
        token does not depend on this service being reachable.
      security: []
      responses:
        "200":
          description: The published key set.
          headers:
            Cache-Control:
              description: |
                Cacheable for five minutes — deliberately shorter than the
                discovery document. A rotation has to reach every consumer
                inside the overlap window, and this is the bound on how long
                that takes.
              schema: { type: string }
          content:
            application/jwk-set+json:
              schema:
                $ref: "#/components/schemas/JWKS"
        "503":
          description: |
            The key set could not be read. The body names no dependency: this
            endpoint is public and unauthenticated (`docs/SECURITY/02` §12).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /oauth/authorize:
    get:
      tags: [OAuth]
      operationId: authorize
      summary: Authorization endpoint (authorization code + PKCE)
      description: |
        Where single sign-on becomes visible. With a live session this issues
        an authorization code and redirects, with nothing rendered; without
        one it routes to the hosted login page and resumes afterwards.

        **This endpoint does not use the standard error envelope.** OAuth 2.1
        defines its own error vocabulary, delivered as query parameters on a
        redirect, and that is what a consumer library parses. Every other
        endpoint here answers with the `Error` schema; this one answers with
        `?error=invalid_request&error_description=...&state=...`.

        **PKCE is mandatory for every client type**, public and confidential
        alike. `docs/PLAN/05` states this explicitly and it is stricter than OAuth
        2.1's baseline: a confidential client's secret protects the token
        request, not the code in transit, and a code intercepted from a browser
        redirect is useless without the verifier regardless of what the client
        can prove later.

        `code_challenge_method` must be `S256`. `plain` transmits the verifier
        unprotected, which removes the reason PKCE exists.

        An invalid `client_id` or an unregistered `redirect_uri` produces a
        `400` with an HTML error page and **no redirect at all** — redirecting
        to an unvalidated URI to report an error is the open-redirect
        vulnerability itself.
      security: []
      parameters:
        - name: client_id
          in: query
          required: true
          description: The application's identifier, which is its `id`.
          schema: { type: string, format: uuid }
        - name: redirect_uri
          in: query
          required: true
          description: |
            Where to return. Matched against the client's registered URIs by
            **exact string comparison** — a trailing slash, an added query
            parameter or a different case is a different URI. Not defaulted
            when omitted, even for a client with exactly one registered URI.
          schema: { type: string, format: uri }
        - name: response_type
          in: query
          required: true
          description: Only `code` is supported.
          schema: { type: string, enum: [code] }
        - name: scope
          in: query
          required: true
          description: |
            Space-delimited. `openid` is required. `offline_access` requires
            the client to hold the `refresh_token` grant.
          schema: { type: string }
          example: openid profile email
        - name: state
          in: query
          required: true
          description: |
            Returned unchanged on every response. Required, which is stricter
            than OAuth demands: this service cannot verify it — only your
            application knows what it sent — so requiring it means a client
            that forgot its CSRF defence finds out at integration time rather
            than in production.
          schema: { type: string, maxLength: 1024 }
        - name: code_challenge
          in: query
          required: true
          description: PKCE challenge, base64url, 43-128 characters.
          schema: { type: string, minLength: 43, maxLength: 128 }
        - name: code_challenge_method
          in: query
          required: true
          schema: { type: string, enum: [S256] }
        - name: nonce
          in: query
          required: false
          description: Returned in the `id_token`, for replay detection by the client.
          schema: { type: string, maxLength: 1024 }
        - name: prompt
          in: query
          required: false
          description: |
            Space-delimited. `none` never renders UI and returns
            `login_required` instead — which is what a silent renewal in a
            hidden iframe needs. `login` forces re-authentication even with a
            live session, without ending it. `none` cannot be combined with
            any other value.
          schema: { type: string }
        - name: max_age
          in: query
          required: false
          description: |
            Seconds. How recently the user must have **authenticated**, which
            is not the same as how recently they were active.
          schema: { type: integer, minimum: 0 }
      responses:
        "302":
          description: |
            Redirect to `redirect_uri` with `code` and `state`, to the same
            place with `error` and `state`, or to the hosted login page.
          headers:
            Location:
              schema: { type: string, format: uri }
        "400":
          description: |
            `client_id` or `redirect_uri` is not valid. An HTML page, and
            deliberately **not** a redirect: there is no validated address to
            redirect to, and inventing one is the vulnerability.

            The two causes are reported identically, so this cannot be used to
            discover which client ids exist (`docs/SECURITY/02` §12).
          content:
            text/html:
              schema: { type: string }

  /oauth/token:
    post:
      tags: [OAuth]
      operationId: token
      summary: Token endpoint
      description: |
        Exchanges an authorization code, a refresh token, or client
        credentials for tokens. `docs/PLAN/12` calls this the highest-volume,
        most latency-sensitive endpoint in the system.

        **This endpoint does not use the standard error envelope.** OAuth 2.1
        defines its own JSON error shape — `{"error": "...",
        "error_description": "..."}` — and that is what a consumer library
        parses.

        **Three grants, and two refused by name.** `authorization_code`,
        `refresh_token` and `client_credentials` are supported. `password` and
        `implicit` return `unsupported_grant_type` with a description saying
        the service will never support them, rather than falling through to an
        unknown-grant message that leaves an integrator wondering whether they
        typed the name wrong.

        **Client authentication** is `client_secret_basic` or
        `client_secret_post` for confidential clients. Presenting both is
        refused. A public client presents only `client_id` and is
        authenticated by the PKCE verifier; a confidential client that
        presents no secret is `invalid_client` and is never treated as public.

        **Every failure to redeem a code returns the same `invalid_grant`.** An
        error distinguishing "unknown code" from "wrong redirect_uri" would
        tell a holder of a code that the code is real.

        The three token types are deliberately different. The ID token is an
        assertion about the user with `aud` = your `client_id`; the access
        token is a capability at a resource server, carries `typ: at+jwt`
        (RFC 9068), and has a different `aud`. A resource server should refuse
        an ID token presented as a bearer credential, and the two fields are
        what let it.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [grant_type]
              properties:
                grant_type:
                  type: string
                  enum: [authorization_code, refresh_token, client_credentials]
                code:
                  type: string
                  description: The authorization code. Required for `authorization_code`.
                redirect_uri:
                  type: string
                  format: uri
                  description: |
                    Must equal the `redirect_uri` the code was issued for,
                    by exact string comparison.
                code_verifier:
                  type: string
                  minLength: 43
                  maxLength: 128
                  description: |
                    The PKCE verifier. Required for `authorization_code` for
                    every client type, including confidential ones.
                refresh_token:
                  type: string
                  description: Required for `refresh_token`.
                scope:
                  type: string
                  description: |
                    On a refresh this may narrow the granted scope and may
                    never widen it — widening would make the refresh token
                    more powerful than the consent that created it.
                client_id:
                  type: string
                  format: uuid
                client_secret:
                  type: string
                  description: |
                    `client_secret_post`. Use the Authorization header
                    instead where you can; presenting both is refused.
      responses:
        "200":
          description: Tokens.
          headers:
            Cache-Control:
              description: Always `no-store`. A cached token response is a token handed to whoever asks the cache next.
              schema: { type: string }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TokenResponse"
        "400":
          description: |
            `invalid_request`, `invalid_grant`, `unauthorized_client`,
            `unsupported_grant_type` or `invalid_scope`.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"
        "401":
          description: |
            `invalid_client`. Carries `WWW-Authenticate: Basic` when Basic
            authentication was attempted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"

  /oidc/logout:
    get:
      tags: [OAuth]
      operationId: logout
      summary: End session (RP-Initiated Logout 1.0)
      description: |
        Ends the user's session and returns them to your application.

        **Send an `id_token_hint`.** It is what lets this endpoint act on a
        `GET` without asking the user to confirm. A `GET` is triggerable by any
        page on the internet - an image tag, a prefetch, a link in an email -
        so acting on a bare one would let anybody log your users out. The hint
        proves the request came from a party that already completed the flow,
        and it must name the session the browser is actually carrying.

        Without a usable hint the user sees a confirmation page instead. That
        is not a failure; it is the design. Your logout still works, it just
        takes a click.

        **A hint for a different session logs nobody out.** Not its own
        subject, and not the browser's user. It falls through to the
        confirmation, which acts on the session the browser has.

        **`post_logout_redirect_uri` must be registered for your client, and is
        matched EXACTLY.** A trailing slash, a different scheme or an appended
        query is a different address. If it does not match, the request is
        refused with a rendered page and **no redirect at all** - reporting the
        error by redirecting to an unregistered address is the open-redirect
        vulnerability the check exists to prevent.

        An unknown `client_id` and an unregistered address give the identical
        answer, so this endpoint cannot be used to find out which client ids
        exist.

        `state` is echoed back on the redirect, unexamined.

        **Signing out twice is not an error.** A user whose session has already
        ended is still redirected where you asked.

        The confirmation page also offers "sign out of every application",
        which ends every session the user has and revokes their refresh tokens.
        It is unchecked by default: signing out of one application should not
        silently end the others.

        Back-channel logout is a different specification and is not
        implemented; nothing here precludes it.
      security: []
      parameters:
        - name: id_token_hint
          in: query
          required: false
          schema: { type: string }
          description: |
            An ID token this service issued. Verified, and required for a GET
            to act without a confirmation.
        - name: post_logout_redirect_uri
          in: query
          required: false
          schema: { type: string, format: uri }
          description: |
            Where to send the user afterwards. Must be registered for the
            client, matched exactly.
        - name: state
          in: query
          required: false
          schema: { type: string }
          description: Echoed back on the redirect, unexamined.
        - name: client_id
          in: query
          required: false
          schema: { type: string, format: uuid }
          description: |
            Resolves the client when there is no `id_token_hint`. Never used to
            bypass the redirect match; when a hint is present, the hint decides.
      responses:
        "200":
          description: |
            The confirmation page, or the "you are signed out" page when there
            is nowhere to send the user. HTML.
          content:
            text/html:
              schema: { type: string }
        "302":
          description: |
            Signed out, redirecting to the registered
            `post_logout_redirect_uri` with `state` echoed.
          headers:
            Location:
              schema: { type: string, format: uri }
        "400":
          description: |
            The `post_logout_redirect_uri` is not registered for this client,
            or the client is unknown. **Nothing about the session has changed**,
            and no redirect is issued.
          content:
            text/html:
              schema: { type: string }
    post:
      tags: [OAuth]
      operationId: logoutConfirm
      summary: Confirm sign-out
      description: |
        The confirmation page's own submit. It is not an endpoint to code
        against: it requires the CSRF token that page renders, and the
        parameters are re-validated exactly as on the `GET`.
      security: []
      responses:
        "200":
          description: The confirmation page again, with a message.
          content:
            text/html:
              schema: { type: string }
        "302":
          description: Signed out, redirecting.
        "400":
          description: The redirect target is not registered, or the form could not be read.

  /oauth/introspect:
    post:
      tags: [OAuth]
      operationId: introspect
      summary: Token introspection (RFC 7662)
      description: |
        Answers whether a token is currently good. Most useful for a refresh
        token, which is opaque and cannot be inspected any other way.

        **Client authentication is required, and the client must be
        confidential.** This is stricter than RFC 7662, which leaves the method
        open. A public client has no secret, so admitting one would make this
        endpoint reachable by anyone who can read a `client_id` out of a
        browser URL - a token oracle, which is the one thing it must not be.

        **You can only introspect your own tokens.** A token issued to another
        client answers `{"active": false}`, exactly as an unknown one does. It
        is not an error, because an error would confirm the token exists and
        belongs to somebody.

        **`{"active": false}` is the answer to everything negative** - unknown,
        expired, revoked, malformed, another client's, or one whose session has
        since ended. There is no `reason` field and there will not be one: it
        would tell a caller holding a captured token whether it ever existed
        and whether it has been revoked since.

        `username` is not returned, though the RFC lists it. It is an email
        address, you already have `sub`, and `/oauth/userinfo` will give you
        the address if the user's own token authorises it.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                  description: The access or refresh token to inspect.
                token_type_hint:
                  type: string
                  enum: [access_token, refresh_token]
                  description: |
                    A hint, and only a hint: it decides which lookup is tried
                    first and never the outcome. A wrong hint costs one extra
                    lookup.
                client_id:
                  type: string
                  format: uuid
                client_secret:
                  type: string
                  description: |
                    `client_secret_post`. Prefer the Authorization header;
                    presenting both is refused.
      responses:
        "200":
          description: |
            The answer. `{"active": false}` carries nothing else, deliberately.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Introspection"
        "400":
          description: "`invalid_request` - no token was supplied."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"
        "401":
          description: "`invalid_client`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"

  /oauth/revoke:
    post:
      tags: [OAuth]
      operationId: revoke
      summary: Token revocation (RFC 7009)
      description: |
        Throws a token away deliberately - on logout, on a user disconnecting
        an integration, on a suspected leak.

        **Always answers `200`**, whether something was revoked, nothing
        matched, or the token was already revoked. RFC 7009 section 2.2
        requires it, for the same reason introspection has one negative answer:
        a status that distinguished the cases is an oracle on whether a guessed
        token exists. Revocation is therefore idempotent, and safe to retry.

        **You can only revoke your own tokens.** Another client's token is
        silently a no-op.

        **Revoking a refresh token revokes its whole lineage**, not the single
        row - RFC 7009 section 2.1's "tokens based on the same authorization
        grant".

        **An access token cannot actually be revoked, and this is the one thing
        worth reading twice.** It is a signed JWT that nothing looks up, so
        presenting one revokes the refresh tokens issued for the same session
        and the same client - which stops new access tokens being minted -
        while the token you presented keeps working until it expires, up to ten
        minutes. If you need it dead sooner, end the session: `/oauth/userinfo`
        and every session-backed check stop honouring it immediately.

        Public clients may revoke. The operation only destroys a credential the
        caller already holds, for its own client.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                token_type_hint:
                  type: string
                  enum: [access_token, refresh_token]
                client_id:
                  type: string
                  format: uuid
                client_secret:
                  type: string
      responses:
        "200":
          description: |
            Always, unless the request itself was malformed or the client could
            not be authenticated. The body is empty; do not infer anything from
            this status about whether a token existed.
        "400":
          description: "`invalid_request` - no token was supplied."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"
        "401":
          description: "`invalid_client`."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OAuthError"

  /oauth/userinfo:
    get:
      tags: [OAuth]
      operationId: userinfo
      summary: UserInfo endpoint
      description: |
        Returns the claims the presented access token's scopes authorise, and
        nothing beyond them.

        **Send the token in the `Authorization` header.** RFC 6750 also defines
        an `access_token` query parameter and calls it NOT RECOMMENDED; this
        service does not accept one. A query parameter is written to the access
        log of every proxy in the path, to the browser's history, and to the
        `Referer` of whatever the page loads next.

        **Scopes decide the claims.** `openid` yields `sub`; `profile` yields
        `name`, `preferred_username` and `updated_at`; `email` yields `email`.
        A claim outside the granted scopes is never returned, and a claim whose
        underlying value is not set is omitted rather than returned empty.

        `email_verified` is **not** returned. Nothing in this service verifies
        an address yet, and asserting `false` would say we checked and it is
        not verified — which we did not.

        **`sub` is the user's identifier and is stable.** It is not sequential,
        not guessable, and never the email address. Store it as the user's
        permanent key; an address may change.

        **The token stops working the moment the session behind it ends.** An
        access token is not looked up, but the session it was issued from is —
        so a logout, a revocation, or a deactivated account invalidates it
        immediately rather than at its expiry.

        **Every unusable token gets the same answer**: `401` with
        `WWW-Authenticate: Bearer error="invalid_token"`. Expired, forged,
        wrong audience, and revoked are not distinguished, because a caller
        that could tell them apart could ask this endpoint whether a user has
        logged out.

        A token that is otherwise valid but lacks the `openid` scope gets `403`
        with `error="insufficient_scope"`, which is a different thing and is
        worth telling you: your token is fine, and it does not cover this.
      security:
        - oauth2: [openid]
      responses:
        "200":
          description: The claims the granted scopes authorise.
          headers:
            Cache-Control:
              description: Always `no-store`. The response is personal data addressed to one caller.
              schema: { type: string }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserInfo"
        "401":
          description: |
            The access token is missing, expired, forged, for another
            audience, or its session has ended. All of these are the same
            answer, deliberately.
          headers:
            WWW-Authenticate:
              description: |
                `Bearer realm="<issuer>"`, with
                `error="invalid_token"` when a credential was presented.
              schema: { type: string }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "403":
          description: The token is valid and does not carry the `openid` scope.
          headers:
            WWW-Authenticate:
              description: '`Bearer error="insufficient_scope", scope="openid"`.'
              schema: { type: string }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /healthz:
    get:
      tags: [Operations]
      operationId: getLiveness
      summary: Liveness probe
      description: |
        Answers whether the process is running. It performs no dependency
        checks and cannot fail while the process is able to respond at all.

        The distinction from `/readyz` is load-bearing. A liveness probe that
        checks the database restarts the service during a database outage,
        which converts a recoverable dependency failure into a crash loop that
        prevents recovery (`docs/PLAN/14`).
      security: []
      responses:
        "200":
          description: The process is alive.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LivenessStatus"
              examples:
                alive:
                  value:
                    status: ok

  /readyz:
    get:
      tags: [Operations]
      operationId: getReadiness
      summary: Readiness probe
      description: |
        Answers whether the process can serve traffic right now, which includes
        its dependencies being reachable.

        A failure removes this instance from the load balancer without
        restarting it — the correct response to a dependency being briefly
        unavailable.
      security: []
      responses:
        "200":
          description: Ready to serve traffic.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadinessStatus"
              examples:
                ready:
                  value:
                    status: ready
        "503":
          description: |
            Not ready. The body names no dependency and gives no detail, on
            purpose: this endpoint is reachable from the public ingress, and
            "which of our dependencies is down" is not something to tell an
            anonymous caller. The detail is in the logs and metrics.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadinessStatus"
              examples:
                notReady:
                  value:
                    status: unavailable

  /v1/organizations:
    get:
      tags: [Organizations]
      operationId: listOrganizations
      summary: List organizations
      description: |
        Every organization in the instance, oldest first.

        Instance-scoped by nature — a list that spans tenants cannot be scoped
        to one — so it requires `INSTANCE_OWNER`. An organization administrator
        reads their own organization through `GET /v1/organizations/{org_id}`.
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: A page of organizations.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OrganizationList"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

    post:
      tags: [Organizations]
      operationId: createOrganization
      summary: Create an organization
      description: |
        Creates a tenant. Requires `INSTANCE_OWNER`.

        `settings` is optional and is **merged onto the instance defaults**
        rather than replacing them, so an organization created with only
        `mfa_required` still has a password policy. Unknown keys are rejected
        rather than stored: a typo that is kept silently becomes a policy that
        is not in force and looks like it is.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrganizationCreate"
      responses:
        "201":
          description: The organization was created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/organizations/{org_id}:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"

    get:
      tags: [Organizations]
      operationId: getOrganization
      summary: Read an organization
      description: |
        Requires `ORG_ADMIN` over this organization, or `INSTANCE_OWNER`.

        An organization the caller holds nothing over answers `404`, and so
        does a deleted one — including to an `INSTANCE_OWNER`. A deleted tenant
        is not a suspended one, and an endpoint that keeps serving it makes
        "deleted" a label rather than a state.
      responses:
        "200":
          description: The organization.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

    patch:
      tags: [Organizations]
      operationId: updateOrganization
      summary: Update an organization
      description: |
        A partial update: an absent property is left alone.

        Requires `ORG_OWNER` over this organization — **except `status`, which
        requires `INSTANCE_OWNER`.** Suspending an organization locks out every
        user in it, and an organization owner suspending their own tenant is
        not a capability anybody asked for.

        `settings` is merged key by key, so an update naming one setting leaves
        the rest as they were. `domain` may be set to `null` to release it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/OrganizationUpdate"
      responses:
        "200":
          description: The updated organization.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Organization"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

    delete:
      tags: [Organizations]
      operationId: deleteOrganization
      summary: Delete an organization
      description: |
        A **soft** delete. The row survives, the organization becomes `404`
        everywhere, its domain is released so it can be claimed again, and its
        audit history is untouched — `events` carries no foreign key to
        `organizations`, precisely so a deleted tenant's history outlives it.

        Requires `INSTANCE_OWNER`, and `confirm_name` must match the
        organization's current name exactly. The confirmation is enforced by
        the server rather than by the console: a script that deletes the wrong
        organization never goes near the console at all
        (`docs/PLAN/08` § Least Privilege).
      parameters:
        - name: confirm_name
          in: query
          required: true
          description: |
            The organization's current name, typed back. A mismatch is `400`.
          schema:
            type: string
            maxLength: 200
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "204":
          description: The organization was deleted.
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/organizations/{org_id}/projects:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"

    get:
      tags: [Projects]
      operationId: listProjects
      summary: List an organization's projects
      description: |
        Requires `ORG_ADMIN` over this organization.

        A project is the container an application, a role and — from Phase 4 — a
        project grant all hang from. It carries no configuration of its own,
        which is why there is so little here.
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: A page of projects.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectList"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

    post:
      tags: [Projects]
      operationId: createProject
      summary: Create a project
      description: |
        Requires `ORG_ADMIN` over this organization.

        The project belongs to the organization in the path. There is no
        `org_id` in the request body, deliberately: a tenant taken from a body
        is a tenant a caller can choose.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectCreate"
      responses:
        "201":
          description: The project was created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/organizations/{org_id}/projects/{project_id}:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
      - $ref: "#/components/parameters/ProjectId"

    get:
      tags: [Projects]
      operationId: getProject
      summary: Read a project
      description: Requires `ORG_ADMIN` over the organization that owns it.
      responses:
        "200":
          description: The project.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

    patch:
      tags: [Projects]
      operationId: updateProject
      summary: Rename a project
      description: |
        Requires `ORG_ADMIN`. A project's name is the only thing it has, so this
        is the only thing to change.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProjectUpdate"
      responses:
        "200":
          description: The updated project.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

    delete:
      tags: [Projects]
      operationId: deleteProject
      summary: Delete a project
      description: |
        Requires `ORG_OWNER`.

        **A project with applications or roles attached is refused**, with a
        `409` whose `details` name what blocks it and how many there are. It is
        not cascaded: deleting a project would take every OIDC client in it with
        it, and every consumer application configured against those client ids
        would stop authenticating — a far larger consequence than the request
        appears to ask for.

        A project with nothing attached is deleted outright rather than soft-
        deleted. Unlike an organization it owns no audit history of its own and
        holds no tenant boundary, so there is nothing for a tombstone to
        preserve.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "204":
          description: The project was deleted.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/organizations/{org_id}/projects/{project_id}/applications:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
      - $ref: "#/components/parameters/ProjectId"

    get:
      tags: [Applications]
      operationId: listApplications
      summary: List a project's applications
      description: |
        Requires `ORG_ADMIN` over this organization.

        **No response here carries a client secret.** The secret is returned
        once, in the body of the request that issued it, and never again — so
        this list answers `has_secret` and nothing more.
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
      responses:
        "200":
          description: A page of applications.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationList"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

    post:
      tags: [Applications]
      operationId: createApplication
      summary: Register an application
      description: |
        Requires `ORG_ADMIN` over this organization.

        **The `client_secret` in this response is the only time it exists
        outside the service.** It is stored as a hash and cannot be recovered;
        an application whose secret is lost is rotated, not recalled.

        A public client — `spa` or `native` — gets no secret at all. It cannot
        keep one confidential in a browser or a shipped binary, so it uses PKCE
        instead, and a secret issued to it would be a false reassurance rather
        than a control.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplicationCreate"
      responses:
        "201":
          description: The application was registered.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApplicationCreated"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/organizations/{org_id}/projects/{project_id}/applications/{application_id}:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
      - $ref: "#/components/parameters/ProjectId"
      - $ref: "#/components/parameters/ApplicationId"

    get:
      tags: [Applications]
      operationId: getApplication
      summary: Read an application
      description: |
        Requires `ORG_ADMIN`. Carries no secret — see `has_secret`.
      responses:
        "200":
          description: The application.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Application"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

    patch:
      tags: [Applications]
      operationId: updateApplication
      summary: Update an application
      description: |
        Requires `ORG_ADMIN`.

        **`type` is not updatable and naming it is an error, not a no-op.**
        A client's type decides whether it can hold a secret, so changing it
        would either strand a secret on a now-public client or leave a
        confidential one with none. Delete and re-register instead, which
        appears in the audit log as two events rather than one silent
        reclassification.

        Redirect URIs are validated here by exactly the same rules as on
        create. An update is where a permissive URI would be smuggled in, and
        a validator that runs on one path and not the other is not a validator.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplicationUpdate"
      responses:
        "200":
          description: The updated application.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Application"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

    delete:
      tags: [Applications]
      operationId: deleteApplication
      summary: Delete an application
      description: |
        Requires `ORG_OWNER`.

        Every user signing in through this client stops being able to, at once
        and without warning to the consumer application — which is why this is
        the one operation on an application that an `ORG_ADMIN` cannot perform.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "204":
          description: The application was deleted.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/organizations/{org_id}/projects/{project_id}/applications/{application_id}/rotate-secret:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
      - $ref: "#/components/parameters/ProjectId"
      - $ref: "#/components/parameters/ApplicationId"

    post:
      tags: [Applications]
      operationId: rotateApplicationSecret
      summary: Issue a new client secret
      description: |
        Requires `ORG_ADMIN` — deliberately not `ORG_OWNER`. Rotation is the
        response to a suspected leak, and a control that requires waking the
        organization owner is a control that gets skipped at 3am. It is loud in
        the audit log instead.

        The previous secret keeps working for `overlap_hours`, so a consumer
        application can take the new one without a simultaneous redeploy.
        **`overlap_hours: 0` retires it immediately** — the compromised-secret
        path, where the outage is the point.

        A public client has no secret to rotate and is refused.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
        - name: overlap_hours
          in: query
          required: false
          description: |
            How long the previous secret keeps authenticating. Defaults to 24.
            `0` retires it immediately — the compromised-secret path, where the
            outage for anything still using it is the point.

            A query parameter rather than a request body, and that is a
            deviation worth naming: the contract said an optional body, and
            `oapi-codegen` decodes one unconditionally, so `POST` with no body
            answered `400 can't decode JSON body`. Requiring `{}` for the
            common case would be a contract that describes a papercut; this
            keeps `POST .../rotate-secret` working with nothing at all. The
            value is not a credential, so it is fine in an access log.
          schema:
            type: integer
            minimum: 0
            maximum: 168
            default: 24
      responses:
        "200":
          description: A new secret was issued.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RotatedSecret"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/organizations/{org_id}/users:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"

    get:
      tags: [Users]
      operationId: listUsers
      summary: List an organization's users
      description: |
        Requires `ORG_ADMIN` over this organization.

        `search` matches the email, username and display name. It is a
        substring match, not a prefix one, because an administrator looking for
        somebody usually remembers the middle of a name rather than its start.
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
        - name: search
          in: query
          required: false
          description: Filter by email, username or display name.
          schema:
            type: string
            maxLength: 200
      responses:
        "200":
          description: A page of users.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserList"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

    post:
      tags: [Users]
      operationId: createUser
      summary: Invite a user
      description: |
        Requires `ORG_ADMIN` over this organization.

        The user is created with `status: "invited"` and **no password**. There
        is no password field on this request, deliberately: an account whose
        first password was chosen by somebody other than its owner is an
        account its owner cannot be held responsible for. They set it
        themselves, through a link sent to the address being invited — which is
        also what proves the address is theirs.

        `invite_email_sent` in the response reports what actually happened
        rather than what was asked for. A `201` with `false` means the user
        exists and the invitation could not be delivered, so the link must be
        conveyed another way; rolling the user back because a mail server was
        busy would be the worse outcome (ADR-018).
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserCreate"
      responses:
        "201":
          description: The user was created and invited.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserCreated"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/organizations/{org_id}/users/{user_id}:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
      - $ref: "#/components/parameters/UserId"

    get:
      tags: [Users]
      operationId: getUser
      summary: Read a user
      description: Requires `ORG_ADMIN` over the organization they belong to.
      responses:
        "200":
          description: The user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

    patch:
      tags: [Users]
      operationId: updateUser
      summary: Update a user's profile
      description: |
        Requires `ORG_ADMIN`.

        **Profile fields only.** `status` is not here — deactivation and
        reactivation are their own operations, because "who deactivated this
        account and when" is asked during an incident and answering it should
        not require diffing two updates. `email_verified` is not here because
        it is a statement about what happened, not a setting. `id` and `org_id`
        are not here because a user does not move.

        A body naming any of them is **refused**, not ignored: silently
        dropping a field tells the caller a change happened when it did not.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserUpdate"
      responses:
        "200":
          description: The updated user.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/organizations/{org_id}/users/{user_id}/deactivate:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
      - $ref: "#/components/parameters/UserId"

    post:
      tags: [Users]
      operationId: deactivateUser
      summary: Deactivate a user
      description: |
        Requires `ORG_ADMIN`.

        **Deactivation, not deletion.** A deleted user makes every audit entry
        naming them unresolvable, which is the opposite of what an audit log is
        for. The row stays, the account stops working, and the history stays
        readable.

        Every live session is revoked, the session cache is tombstoned, and
        every refresh token is revoked — all before this returns. A deactivated
        user who can still act is not deactivated, and any one of those three
        left out leaves them working.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "204":
          description: The user is deactivated and their sessions are gone.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/organizations/{org_id}/users/{user_id}/reactivate:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
      - $ref: "#/components/parameters/UserId"

    post:
      tags: [Users]
      operationId: reactivateUser
      summary: Reactivate a user
      description: |
        Requires `ORG_ADMIN`. Returns the account to `active`.

        It does **not** restore the sessions deactivation ended. Those are gone
        and the user signs in again, which is the correct outcome: the reason
        an account was deactivated is not known to have stopped being true.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "204":
          description: The user is active again.
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/organizations/{org_id}/users/{user_id}/password-reset:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"
      - $ref: "#/components/parameters/UserId"

    post:
      tags: [Users]
      operationId: resetUserPassword
      summary: Send a password-reset link
      description: |
        Requires `ORG_ADMIN`. Issues a single-use, short-lived token and mails
        the link to the user's own address.

        **The link is not returned.** The administrator triggering this cannot
        see it, and that is the point: a reset link is a bearer credential for
        the account, so the only party who should hold it is the one who can
        read that mailbox. An administrator who needs to set a password
        directly does not have that capability, deliberately.

        This is the administrator-initiated path. The self-service one is the
        hosted page at `/login/forgot`, which is unauthenticated and answers
        identically whether or not the address exists.
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          description: A reset link was issued and delivery was attempted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResetRequested"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

  /v1/organizations/{org_id}/events:
    parameters:
      - $ref: "#/components/parameters/OrganizationId"

    get:
      tags: [Audit]
      operationId: listEvents
      summary: Read the audit log
      description: |
        Requires `ORG_ADMIN` over this organization.

        **This resource has exactly one operation.** There is no create, no
        update and no delete, and that is a property rather than an omission:
        `events` is append-only at the database level — the application role
        holds no `UPDATE` or `DELETE` privilege on it (`docs/SECURITY/02` §19) —
        and an API that offered a way around that would make the guarantee a
        matter of trust instead of a matter of privilege.

        Ordered **newest first**, unlike every other list in this API. An audit
        log is read from the end: the question is almost always "what just
        happened", and paging from the beginning of a table that grows without
        bound answers it slowly and last.

        Payloads are stored already redacted (`P0-12`), so nothing here carries
        a token, a password, or the raw resource attributes sent to
        `/v1/authz/check`.
      parameters:
        - $ref: "#/components/parameters/PageSize"
        - $ref: "#/components/parameters/PageToken"
        - name: event_type
          in: query
          required: false
          description: |
            Exact match on the event type, for example `user.login.failed`.
            May be repeated; repeating it matches any of them.
          schema:
            type: array
            items:
              type: string
              maxLength: 100
          style: form
          explode: true
        - name: actor_id
          in: query
          required: false
          description: |
            The user who performed the action. Events with no actor — a failed
            login against an address that does not exist, a scheduled job —
            match no value of this filter, which is correct: they have none.
          schema:
            $ref: "#/components/schemas/ResourceId"
        - name: from
          in: query
          required: false
          description: Inclusive lower bound on when the event happened.
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          required: false
          description: Exclusive upper bound on when the event happened.
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: A page of events, newest first.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EventList"
        "400": { $ref: "#/components/responses/BadRequest" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "500": { $ref: "#/components/responses/InternalError" }

components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: |
        OAuth 2.0 access tokens. Authorization Code with PKCE for interactive
        clients including the console itself; Client Credentials for service
        accounts (`docs/PLAN/05` Part A).
      flows:
        authorizationCode:
          authorizationUrl: https://auth.zedth.my.id/oauth/authorize
          tokenUrl: https://auth.zedth.my.id/oauth/token
          refreshUrl: https://auth.zedth.my.id/oauth/token
          scopes:
            openid: OpenID Connect authentication.
            profile: Basic profile claims.
            email: Email address claim.
            offline_access: Issue a refresh token.
        clientCredentials:
          tokenUrl: https://auth.zedth.my.id/oauth/token
          scopes: {}

  parameters:
    PageSize:
      name: page_size
      in: query
      required: false
      description: |
        Maximum items to return. The server may return fewer, and returning
        fewer never means the collection is exhausted — only an absent
        `next_page_token` means that.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

    PageToken:
      name: page_token
      in: query
      required: false
      description: |
        The `next_page_token` from the previous response. Opaque: its contents
        are not part of the contract and must not be constructed, parsed, or
        persisted by a client.
      schema:
        type: string
        maxLength: 512

    OrganizationId:
      name: org_id
      in: path
      required: true
      description: The organization that owns the resource. Every request is scoped to exactly one.
      schema:
        $ref: "#/components/schemas/ResourceId"

    UserId:
      name: user_id
      in: path
      required: true
      description: The user this operation acts on.
      schema:
        $ref: "#/components/schemas/ResourceId"

    ApplicationId:
      name: application_id
      in: path
      required: true
      description: |
        The application. This value is also its OIDC `client_id`.
      schema:
        $ref: "#/components/schemas/ResourceId"

    ProjectId:
      name: project_id
      in: path
      required: true
      description: The project the resource belongs to.
      schema:
        $ref: "#/components/schemas/ResourceId"

    IdempotencyKey:
      name: Idempotency-Key
      in: header
      required: false
      description: |
        A client-generated key making a retried `POST` safe. Replaying a
        request with the same key returns the original result rather than
        creating a second resource — which matters most for automated
        provisioning, where a network timeout is indistinguishable from a
        failure (`docs/PLAN/05` Part B).
      schema:
        type: string
        minLength: 1
        maxLength: 255

  schemas:
    Organization:
      type: object
      description: |
        A tenant.

        `instance_id` is deliberately not exposed. It is an internal grouping
        with one row in this phase, and a field a client can see is a field a
        client will eventually send back.
      required: [id, name, status, settings, created_at, updated_at]
      additionalProperties: false
      properties:
        id:
          $ref: "#/components/schemas/ResourceId"
        name:
          type: string
          maxLength: 200
          description: |
            The display name. Not unique — two customers may legitimately be
            called the same thing, and a uniqueness rule on a display name is a
            support-ticket generator.
          example: Acme Corp
        domain:
          type: string
          nullable: true
          description: |
            For domain-based tenant resolution. Unique across the instance and
            stored lowercased, because two tenants holding the same domain in
            different cases would make tenant resolution ambiguous — and an
            ambiguous tenant resolution is a cross-tenant access bug waiting to
            happen. Verification of ownership is a later phase.
          example: acme.example
        status:
          type: string
          enum: [active, suspended]
          description: |
            A suspended organization's users cannot log in. Changing this
            requires `INSTANCE_OWNER`.
        settings:
          $ref: "#/components/schemas/OrganizationSettings"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    OrganizationSettings:
      type: object
      description: |
        The organization's policy (`docs/PLAN/08` Part B).

        **Unknown properties are rejected rather than stored.** A misspelled
        key kept silently becomes a policy that is not in force and looks like
        it is, and nobody notices until the audit that was supposed to find it
        does not.
      additionalProperties: false
      properties:
        password_policy:
          type: object
          additionalProperties: false
          properties:
            min_length:
              type: integer
              minimum: 12
              maximum: 128
              description: |
                At least the platform minimum. An organization policy may raise
                it and never lower it — a tenant setting that can go below the
                instance floor is a per-tenant way to disable a platform
                control.
            require_uppercase:
              type: boolean
            max_age_days:
              type: integer
              minimum: 0
              maximum: 3650
              description: |
                `0` means passwords never expire, which is a real choice rather
                than an absent value: NIST SP 800-63B argues forced rotation
                makes passwords worse.
        mfa_required:
          type: boolean
        session_lifetime_hours:
          type: integer
          minimum: 1
          maximum: 720
        allowed_login_methods:
          type: array
          minItems: 1
          items:
            type: string
            enum: [password]
          description: |
            Only `password` is available in this phase. `passkey` and `social`
            are planned and are rejected until they work — an API that accepts
            a method nothing implements would silently disable every method
            that does.

    OrganizationList:
      type: object
      required: [organizations]
      additionalProperties: false
      properties:
        organizations:
          type: array
          items:
            $ref: "#/components/schemas/Organization"
        page_info:
          $ref: "#/components/schemas/PageInfo"

    OrganizationCreate:
      type: object
      description: |
        Note what cannot be set: `id`, `status`, `created_at`, and the instance.
        Every one of those is server-set, and a request body with nowhere to put
        them is why a mass-assignment attempt has nothing to land on
        (`docs/SECURITY/02` §11).
      required: [name]
      additionalProperties: false
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        domain:
          type: string
          nullable: true
          maxLength: 253
        settings:
          $ref: "#/components/schemas/OrganizationSettings"

    OrganizationUpdate:
      type: object
      description: |
        A partial update. An absent property is left alone; `domain: null`
        releases the domain.
      additionalProperties: false
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        domain:
          type: string
          nullable: true
          maxLength: 253
        status:
          type: string
          enum: [active, suspended]
          description: Requires `INSTANCE_OWNER`.
        settings:
          $ref: "#/components/schemas/OrganizationSettings"

    Project:
      type: object
      description: |
        A container for applications, roles and — from Phase 4 — project grants.

        It carries no configuration of its own. That is deliberate rather than
        unfinished: settings that could live here would be settings with two
        homes, since an application already has its own and an organization's
        policy already applies to everything inside it.
      required: [id, name, created_at, updated_at]
      additionalProperties: false
      properties:
        id:
          $ref: "#/components/schemas/ResourceId"
        name:
          type: string
          maxLength: 200
          description: |
            Unique within the organization, case-insensitively. Two projects
            called "Billing" and "billing" in one tenant is a support ticket
            waiting to be filed.
          example: Billing
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ProjectList:
      type: object
      required: [projects]
      additionalProperties: false
      properties:
        projects:
          type: array
          items:
            $ref: "#/components/schemas/Project"
        page_info:
          $ref: "#/components/schemas/PageInfo"

    ProjectCreate:
      type: object
      description: |
        There is no `org_id` here. The organization comes from the path, and a
        tenant taken from a request body is a tenant the caller can choose
        (`docs/SECURITY/02` §11).
      required: [name]
      additionalProperties: false
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200

    ProjectUpdate:
      type: object
      additionalProperties: false
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200

    Application:
      type: object
      description: |
        A registered OIDC client.

        `id` **is** the `client_id`. There is no separate field, because two
        identifiers for one thing is how a console shows the wrong one
        (`docs/PLAN/04` § applications).
      required: [id, project_id, name, type, redirect_uris, post_logout_redirect_uris, allowed_origins, grant_types, has_secret, created_at, updated_at]
      additionalProperties: false
      properties:
        id:
          $ref: "#/components/schemas/ResourceId"
        project_id:
          $ref: "#/components/schemas/ResourceId"
        name:
          type: string
          maxLength: 200
          example: Billing portal
        type:
          $ref: "#/components/schemas/ApplicationType"
        redirect_uris:
          type: array
          items:
            type: string
            format: uri
          description: |
            Matched by **exact string comparison** at authorization time, never
            by prefix or pattern. Prefix matching is the open-redirect
            vulnerability (`docs/PLAN/09` § Protection Against Common Attacks).
          example: ["https://billing.example.com/callback"]
        post_logout_redirect_uris:
          type: array
          items:
            type: string
            format: uri
        allowed_origins:
          type: array
          items:
            type: string
          description: |
            Browser origins permitted to **read** a response obtained with this
            application's tokens — `scheme://host[:port]`, nothing more.

            Empty by default, which means no cross-origin browser access at
            all. A native or server-side client needs none; a single-page
            application needs its own origin here or every `fetch` it makes to
            `/v1/*` and `/oauth/userinfo` fails in the browser.

            Matched against the `Origin` header by **exact string
            comparison**, so a trailing slash or a path makes an entry that can
            never match. `https` only, except for loopback addresses.

            Per application rather than instance-wide, deliberately: an origin
            one organization registers must not be able to read another
            organization's data.

            `/oauth/token` and the discovery documents are NOT governed by this
            — they answer any origin, because they are public and are never
            authenticated by anything a browser attaches on its own.
          example: ["https://app.example.com"]
        grant_types:
          type: array
          items:
            type: string
          example: ["authorization_code", "refresh_token"]
        has_secret:
          type: boolean
          description: |
            Whether a client secret is configured. A boolean, never the secret
            and never its hash — it answers the only question a reader
            legitimately has without answering what the value is or how long
            it is.
        previous_secret_expires_at:
          type: string
          format: date-time
          nullable: true
          description: |
            While set and in the future, the previous secret still
            authenticates. This is the overlap that lets a consumer take a new
            secret without a simultaneous redeploy.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ApplicationType:
      type: string
      enum: [web, native, spa, api, saml]
      description: |
        Decides whether the client can hold a secret. `spa` and `native` are
        public — they cannot keep one confidential in a browser or a shipped
        binary, so they use PKCE and are refused a secret at the database
        level.

        **Immutable after creation.** Changing it would either strand a secret
        on a now-public client or leave a confidential one with none.

    ApplicationList:
      type: object
      required: [applications]
      additionalProperties: false
      properties:
        applications:
          type: array
          items:
            $ref: "#/components/schemas/Application"
        page_info:
          $ref: "#/components/schemas/PageInfo"

    ApplicationCreate:
      type: object
      description: |
        There is no `project_id` or `org_id` here — both come from the path.
      required: [name, type]
      additionalProperties: false
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        type:
          $ref: "#/components/schemas/ApplicationType"
        redirect_uris:
          type: array
          items:
            type: string
            format: uri
        post_logout_redirect_uris:
          type: array
          items:
            type: string
            format: uri
        allowed_origins:
          type: array
          items:
            type: string
          description: |
            Browser origins permitted to read responses obtained with this
            application's tokens. Empty by default, which means none — see
            `Application.allowed_origins`.
          example: ["https://app.example.com"]
        grant_types:
          type: array
          items:
            type: string
          description: |
            Defaults to `["authorization_code", "refresh_token"]`. `implicit`
            and `password` are refused for every type: both hand credentials or
            tokens to places that cannot protect them, and OAuth 2.1 removes
            them.

    ApplicationCreated:
      allOf:
        - $ref: "#/components/schemas/Application"
        - type: object
          properties:
            client_secret:
              type: string
              description: |
                **The only time this value exists outside the service.** It is
                stored as a hash and cannot be recovered — an application whose
                secret is lost is rotated, not recalled.

                Absent for a public client, which has none.

    ApplicationUpdate:
      type: object
      description: |
        Every field is optional; an omitted field is left alone. `type` is
        absent from this schema on purpose, and a body carrying it is rejected
        rather than ignored — silently dropping it would let a caller believe
        a reclassification happened.
      additionalProperties: false
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 200
        redirect_uris:
          type: array
          items:
            type: string
            format: uri
        post_logout_redirect_uris:
          type: array
          items:
            type: string
            format: uri
        allowed_origins:
          type: array
          items:
            type: string
          description: |
            Browser origins permitted to read responses obtained with this
            application's tokens. Empty by default, which means none — see
            `Application.allowed_origins`.
          example: ["https://app.example.com"]
        grant_types:
          type: array
          items:
            type: string

    RotatedSecret:
      type: object
      required: [client_secret]
      additionalProperties: false
      properties:
        client_secret:
          type: string
          description: The new secret. Shown once, exactly as at creation.
        previous_secret_expires_at:
          type: string
          format: date-time
          nullable: true
          description: |
            When the superseded secret stops working. Null when the rotation
            retired it immediately.

    User:
      type: object
      description: |
        A person who can sign in to one organization.

        **No password appears here in either direction.** Not on create, not on
        update, not in a response. A password is set only by the person who
        holds the account, through a link sent to their own address — which is
        also the only thing that proves the address is theirs.
      required: [id, email, status, mfa_enabled, email_verified, created_at, updated_at]
      additionalProperties: false
      properties:
        id:
          $ref: "#/components/schemas/ResourceId"
        email:
          type: string
          format: email
          description: |
            Unique within the organization, case-insensitively, and stored
            lowercased. Two accounts differing only in case is a support ticket
            waiting to be filed.
          example: budi@company.com
        username:
          type: string
          nullable: true
          maxLength: 100
        display_name:
          type: string
          nullable: true
          maxLength: 200
          example: Budi Santoso
        status:
          $ref: "#/components/schemas/UserStatus"
        mfa_enabled:
          type: boolean
          description: Phase 3 owns the factors; this is the flag the login path reads.
        email_verified:
          type: boolean
          description: |
            Whether this address has been proven reachable, by an invitation
            being accepted through a link sent to it.

            Derived from a timestamp column rather than stored as a boolean:
            "when" answers questions "whether" cannot, and an audit needs it.
            The API exposes the question a caller actually asks.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    UserStatus:
      type: string
      enum: [invited, active, locked, deactivated]
      description: |
        `invited` — created, no password set, holding an unused invitation.
        `active` — can sign in.
        `locked` — temporarily barred by the login rate limiter (`P1-13`).
        `deactivated` — barred by an administrator, and reversible.

        Not settable through an update. Deactivation and reactivation are their
        own operations, because "who deactivated this account and when" is
        asked during an incident and answering it should not require diffing
        two updates.

    UserList:
      type: object
      required: [users]
      additionalProperties: false
      properties:
        users:
          type: array
          items:
            $ref: "#/components/schemas/User"
        page_info:
          $ref: "#/components/schemas/PageInfo"

    UserCreate:
      type: object
      description: |
        There is no `org_id` and no `password`. The organization comes from the
        path; the password comes from the person the account belongs to.
      required: [email]
      additionalProperties: false
      properties:
        email:
          type: string
          format: email
          maxLength: 320
        username:
          type: string
          maxLength: 100
        display_name:
          type: string
          maxLength: 200
        send_invite_email:
          type: boolean
          default: true
          description: |
            Whether to mail the invitation. `false` creates the account and its
            invitation token without sending anything — for a bulk import, or
            for an organization that distributes links through its own channel.

    UserCreated:
      allOf:
        - $ref: "#/components/schemas/User"
        - type: object
          required: [invite_email_sent]
          properties:
            invite_email_sent:
              type: boolean
              description: |
                What actually happened, not what was asked for. `false` with a
                `201` means the account exists and the invitation was not
                delivered — resend it, or convey the link another way.

    UserUpdate:
      type: object
      description: |
        Profile fields only. `status`, `email_verified`, `id` and `org_id` are
        absent on purpose, and a body carrying any of them is **refused**
        rather than ignored — silently dropping a field tells the caller a
        change happened when it did not.
      additionalProperties: false
      properties:
        email:
          type: string
          format: email
          maxLength: 320
          description: |
            Changing it clears `email_verified`: a verification is a statement
            about one address, not about the user who holds it.
        username:
          type: string
          nullable: true
          maxLength: 100
        display_name:
          type: string
          nullable: true
          maxLength: 200

    ResetRequested:
      type: object
      required: [email_sent]
      additionalProperties: false
      properties:
        email_sent:
          type: boolean
          description: |
            Whether the message left the service. The link itself is never in
            this response — it is a bearer credential for the account, and the
            only party who should hold it is the one who can read that mailbox.

    Event:
      type: object
      description: |
        One entry in the append-only audit log.

        Read-only in the strongest sense available: there is no operation on
        this API that writes one, and the application database role cannot
        `UPDATE` or `DELETE` the table it lives in.
      required: [id, event_type, occurred_at]
      additionalProperties: false
      properties:
        id:
          type: string
          description: |
            A stable identifier for the entry. A string rather than an integer
            because the underlying key is `(id, created_at)` on a partitioned
            table — a bare number would not be unique across partitions, and a
            consumer treating it as one would eventually deduplicate two real
            events into one.
          example: "8f3e6b2a:2026-09-10T13:37:11Z"
        event_type:
          type: string
          description: "`noun.verb.outcome`, for example `user.login.failed`."
          example: user.login.failed
        actor_user_id:
          type: string
          format: uuid
          nullable: true
          description: |
            Who did it. **Null is legitimate and common**: a failed login
            against an address that does not exist has no authenticated actor,
            and neither does a scheduled job. A consumer that assumes an actor
            will crash on the entries that matter most during an incident.
        occurred_at:
          type: string
          format: date-time
        ip:
          type: string
          nullable: true
          description: The address the request came from, when one was resolved.
        request_id:
          type: string
          nullable: true
          description: |
            Ties the entry to the request that caused it, which is what makes a
            timeline reconstructable across the log and the audit trail.
        payload:
          type: object
          additionalProperties: true
          description: |
            The event's detail, redacted before storage (`P0-12`). Its shape
            varies by `event_type` and is deliberately not constrained here:
            constraining it would mean a schema change for every new event, and
            the console renders it as data rather than parsing it.

    EventList:
      type: object
      required: [events]
      additionalProperties: false
      properties:
        events:
          type: array
          items:
            $ref: "#/components/schemas/Event"
        page_info:
          $ref: "#/components/schemas/PageInfo"

    OpenIDConfiguration:
      type: object
      description: |
        OpenID Provider metadata. Fields for unimplemented endpoints are
        omitted rather than emitted empty.
      required:
        - issuer
        - jwks_uri
        - subject_types_supported
        - id_token_signing_alg_values_supported
      properties:
        issuer:
          type: string
          description: |
            The identifier clients validate the `iss` claim against. Compared
            byte for byte, so it never carries a trailing slash.
          example: https://auth.zedth.my.id
        jwks_uri:
          type: string
          example: https://auth.zedth.my.id/.well-known/jwks.json
        authorization_endpoint:
          type: string
          description: Present once the authorization endpoint exists.
        token_endpoint:
          type: string
          description: Present once the token endpoint exists.
        userinfo_endpoint:
          type: string
        revocation_endpoint:
          type: string
        introspection_endpoint:
          type: string
        end_session_endpoint:
          type: string
        response_types_supported:
          type: array
          items: { type: string }
        grant_types_supported:
          type: array
          description: |
            Never contains `implicit` or `password`: both are ruled out
            permanently by `docs/PLAN/05` § Supported Grant Types, and advertising
            a grant this service refuses invites a client to build against it.
          items: { type: string }
        subject_types_supported:
          type: array
          description: |
            `public` only. Pairwise identifiers are a privacy feature this
            service does not implement.
          items: { type: string }
        id_token_signing_alg_values_supported:
          type: array
          items: { type: string }
        scopes_supported:
          type: array
          items: { type: string }
        code_challenge_methods_supported:
          type: array
          description: "`S256` only. Never `plain`."
          items: { type: string }
        claims_supported:
          type: array
          items: { type: string }

    JWK:
      type: object
      description: |
        One public key, per RFC 7517. Private parameters (`d`, `p`, `q`, `dp`,
        `dq`, `qi`) never appear.
      required: [kty, kid, use]
      properties:
        kty:
          type: string
          example: RSA
        kid:
          type: string
          description: |
            An RFC 7638 thumbprint of the key, so it is stable across restarts
            and cannot be chosen by anyone.
        use:
          type: string
          example: sig
        alg:
          type: string
          example: RS256
        n:
          type: string
          description: RSA modulus, base64url.
        e:
          type: string
          description: RSA public exponent, base64url.
        crv:
          type: string
          description: EC curve, for ES256 keys.
        x:
          type: string
        y:
          type: string

    JWKS:
      type: object
      required: [keys]
      properties:
        keys:
          type: array
          items:
            $ref: "#/components/schemas/JWK"

    LivenessStatus:
      type: object
      description: |
        The complete `/healthz` response. There are no other fields, and none
        will be added that name a dependency or a version.
      required: [status]
      additionalProperties: false
      properties:
        status:
          type: string
          enum: [ok]

    ReadinessStatus:
      type: object
      description: |
        The complete `/readyz` response.

        Note that the ready value is `ready`, not `ok`. The two probes report
        different vocabularies, which was found by writing this spec against
        the running code rather than from memory. It is recorded accurately
        rather than tidied, because a client already parsing `ready` would
        break if the server were changed to match a prettier spec — the spec
        describes what ships (ADR-013).
      required: [status]
      additionalProperties: false
      properties:
        status:
          type: string
          enum: [ready, unavailable]

    ResourceId:
      type: string
      format: uuid
      description: |
        A resource's stable identifier. Not sequential and not guessable.

        **This was specified as a prefixed, sortable identifier** — `usr_`,
        `org_`, `prj_` — and is a UUID instead. The change is deliberate and is
        recorded as `PG-23`.

        The prefix has a real benefit: an id pasted into a support ticket is
        self-describing, and passing a project id where a user id belongs is
        visible on sight rather than at the database. What it cannot survive is
        being applied to only part of the surface. `docs/PLAN/04` makes every
        primary key a UUID, the access token's `org_id` claim is a UUID, and
        OpenID Connect's `sub` — already shipped by `P1-08` — is a UUID that
        callers store as a user's permanent key.

        Prefixing only the Management API would give the same user two
        identifiers and make every consumer convert between them, which is a
        larger and more permanent papercut than the one the prefix removes.
        Prefixing everything means changing `sub`, which is a protocol field
        with its own conventions and a value integrators have already stored.

        So: UUIDs everywhere, and if prefixed identifiers are wanted later they
        arrive everywhere at once or not at all.
      example: 8f3e6b2a-1c4d-4e5f-9a0b-7c8d9e0f1a2b

    ErrorCode:
      type: string
      description: |
        A stable, machine-readable code. Clients branch on this; `message` is
        for humans and may be reworded at any time without a version bump.

        Deliberately coarse. A code per failure mode leaks internal structure
        and becomes an enumeration oracle — `USER_NOT_FOUND` versus
        `PERMISSION_DENIED` tells an attacker which addresses are registered
        (`docs/SECURITY/02` §12).
      enum:
        - VALIDATION_ERROR
        - UNAUTHENTICATED
        - PERMISSION_DENIED
[...]
